{% extends "base.html" %}

{% block sidebar %}
    <h3>Actions</h3>	
    <form id="kbsearch" class="searchform" action="/kb" method="get">
        <p>
	<input id="kbsearchbox" type="text" name="q"
	  value="{{search|default:"Search..."}}"
	  onfocus="if (this.value=='Search...') this.value=''"
	  />
	<input class="button" type="submit" value="Search" title="Search" />
	</p>
    </form>

    {% if editurl or pdfurl %}
    <ul class='sidemenu'>
    {% if editurl %}
        <li><a rel="nofollow" href="{{editurl}}">Edit this article</a></li>
    {% endif %}
    {% if pdfurl %}
        <li><a rel="nofollow" href="{{pdfurl}}">Print (PDF)</a></li>
    {% endif %}
    </ul>
    {% endif %}
				
    {% if reference_parents %}
        <h3>Books Containing This Article</h3>
	<ul class='sidemenu'>
	{% for r in reference_parents %}
	    <li><a href="{{r.get_url}}">{{r.title}}</a></li>
        {% endfor %}
	</ul>
    {% endif %}
 
    <h3>Categories</h3>
    <ul class='sidemenu'>
	{% comment %}
	<li><a href="/kb/">-All-
	    <br><span>{{alldocs.count}}
	      article{{alldocs.count|pluralize}}</span></a></li>
	{% endcomment %}
        {% for tag,count in alltags %}
	    {% if count %}
            <li><a href="/kb/{{tag}}">{{tag}} ({{count}})
	      </a></li>
	    {% endif %}
	{% endfor %}
    </ul>
    
    {% if similar %}
        <h3>Related Articles</h3>
	<ul class='sidemenu'>
	{% for a in similar %}
	<li><a href="{{a.doc.get_url}}">{{a.doc.title}}</a></li>
	{% endfor %}
	</ul>
    {% endif %}
{% endblock %}

{% block main %}
    <p>&nbsp;</p>
    <h1>Welcome to the Knowledgebase</h1>
    
    <p>Please enter a search term or choose a category from the list.</p>
{% endblock %}
