{% extends "kb.html" %}
{% load markup %}

{% block title %}{{title}} - EQL Search{% endblock %}

{% block pre_search %}
    <h1>{{title}}</h1>
    
    {% if message %}<p>{{message}}</p>{% endif %}
    
    <dl>
    {% for doc in docs %}
	<dt>
	  <a href="/kb/{{doc.id}}/{{doc.filename}}{{urlappend}}">{{doc.title}}</a>
	</dt>
	<dd>
	  {% autoescape off %}{{doc.autosummary}}{% endautoescape %}
	  {% if doc.tags.count and not skip_tags %}
	    <br><b>Categories:
	    {% for tag in doc.tags.all %}
	    <a href="/kb/{{tag.name}}{{urlappend}}">{{tag.name}}</a>
	    {% endfor %}</b>
	  {% endif %}
	</dd>
    {% endfor %}
    {% if not docs %}
        <dd>No matches.</dd>
    {% endif %}
    </dl>
{% endblock %}
